.story-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  background: rgb(0 0 0 / 0.1);
  border-radius: 1rem;
}

.box {
  display: grid;
  place-items: center;
  border-radius: 1rem;
  background: linear-gradient(135deg, var(--start-color), var(--end-color));
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}

.box--fixed {
  width: 160px;
  height: 56px;
}

.text {
  color: rgb(255 255 255 / 0.8);
  font-size: 1.5rem;
  font-family: "Cascadia Code", monospace;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
}

.emoji-box {
  padding: 1rem;
  font-size: 4.5rem;
}

/* Colors */

.box--space {
  --start-color: #434343;
  --end-color: #171717;
}

.box--city {
  --start-color: #ec4899;
  --end-color: #f97316;
}

.box--ocean {
  --start-color: #2dd4bf;
  --end-color: #3b82f6;
}

.transition {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

/* Fade */

.transition--fade-enter-active,
.transition--fade-leave-active {
  transition: opacity 0.5s ease;
}

.transition--fade-enter-from,
.transition--fade-leave-to {
  opacity: 0;
}

.transition--fade-enter-to,
.transition--fade-leave-from {
  opacity: 1;
}

/* Slide */

.transition--slide-down-from {
  transform: translateY(20px);
  opacity: 0;
}

.transition--slide-down-to {
  transform: translateY(0);
  opacity: 1;
}

.transition--slide-up-from {
  transform: translateY(-20px);
  opacity: 0;
}

.transition--slide-up-to {
  transform: translateY(0);
  opacity: 1;
}

.transition--slide-left {
  transform: translateX(-20px);
  opacity: 0;
}

.transition--slide-right {
  transform: translateX(20px);
  opacity: 0;
}

/* Zoom */

.transition--zoom-in {
  transform: scale(0.9);
  opacity: 0;
}

.transition--zoom-out {
  transform: scale(1.1);
  opacity: 0;
}
